
header {
    display: flex;
    width: 100%;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    align-items: center;
    text-align: right;
    border-bottom: 1px solid black;
    margin: -8px 0px 0px -10px;
    padding-top: 5px;
    position: fixed;
    z-index: 20;
    
}

.large, .medium, .small {
    margin-right: 32px;
    
}
    
.large {
        width: 630px;
        margin-top: -40px;
    }
    
.medium {
        width: 300px;
    }

.small {
        display: flex;
        width: 240px;
        flex-direction: column;
}

.logo {
    display: flex;
    flex: 3;
    align-items: center;
    color: mediumaquamarine;
    padding-left: 30px;
    margin-bottom: 5px;
}

nav {
    flex-grow: 1;
    padding-right: 50px;
    
}



a {
    color: black;
    margin-left: 10px
}

span {

}

.mytimes {
    padding: 10px;
    color: mediumaquamarine;
}

main {
    display: flex;
    padding-top: 101px;
    margin-bottom: 45px;
}

.phish {
    display: flex;
    height: 300px;
    background-image: url("../images/main.png");
    align-items: center;
}

.earth {
    display: flex;
    height: 300px;
    background-image: url("../images/fall.png");
    align-items: center;
    text-align: center;
    margin-top: -3px;
}



.camera {
    display: flex;
    height: 300px;
    background-image: url("../images/cameraman.png");
    align-items: center;
    text-align: center;
    margin-top: -3px;
}

.cats {
    display: flex;
    height: 300px;
    background-image: url("../images/cat.png");
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}





.area1 {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.grid {
    display: flex;
    padding-top: 30px;
}

article {
    font-family: Georgia;
    font-size: 17px;
    color: black;
    overflow: hidden;
    margin-top: 20px;
}

.imgtitle, .main-imgtitle {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.main-imgtitle {
    font-size: 40px;
    padding-left: 10px;
    
}

.area2 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    
}

.storygrid {
    margin-top: -2px;
    height: 170px;
}





.imgarticle {
    margin-top: -20px;
}

 .bites {
    height: 25px;
    background-color: whitesmoke;
    font-family: Verdana;
    font-size: 12px;
    color: dimgray;
    margin: 0;
    border-bottom: 1px solid black;
    padding-left: 20px;
    
}

.text {
    padding-top: 11px; 
}

footer {
    display: flex;
    height: 300px;
    font-family: Verdana;
    font-size: 12px;
    background-color: mediumaquamarine;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.name {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}



.fnav {
    margin-right: 15px;
}

.vertbar {
    font-family: Verdana;
    font-size: 20px;
    color: white;
}

.newsbites {
    height: 43px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    
}
